body { 
	font-family:"Arial","MingLiU","PMingLiU"; 
	font:"MingLiU","PMingLiU"; 
	font-size:80%;margin:0 0 16px 0;
	padding:0;background:white;
}
fieldset{border-width:0;padding:0;margin:0;}
input,select,option,textarea{font-family:"Arial","MingLiU","PMingLiU";}
h1,h2,h3,h4,h5,h6,
th,blockquote,p,
ul,li,form,fieldset{
	margin:0; padding:0;
	font-size:100%;
	font-weight:normal;
	list-style:none;
}
th,td{text-align:left;font-weight:normal;}
em,strong,b,i,cite,ins,
small,big,tr,tr,table,tbody,
abbr,s,del,address,dfn,kdb,code,var,{
	font-size:100%;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}
a img{border:solid 0 red;}
a{color:#0000bb;}
a:visited{color:#3987C6;}
a:hover{color:red}
a:active{color:red}
