html, body{background: #783143;}
#pack{
	margin: auto; padding-top: 20px;
	width: 1010px; height: 70px;
}
#header{
	background-color:#783143;
	color: #FFF;  float: left;
	padding: 20px 10px 30px 30px;
	font-family:"微軟正黑體", "新細明體", "標楷體";
	width: 320px;
	font-size:50px;
}
#header p{
	padding:0 0 0 75px;
	font-weight: bold;
}
.nav{
	width: 1010px;
	height: 44px;
	margin: 43px auto 0 auto;
	font-family:"微軟正黑體", "新細明體", "標楷體";
	background-color: #593B3B;
}
.nav ul{border-collapse:collapse;}
.nav li{
	margin-color: #FFF;
	float: right; display: block; list-style: none;
	width: 70px; height: 24px; text-align:center;
	padding: 9px 6px 9px 6px;
	font-size:16px; color: #fff;
	border: 1px solid #593B3B; 
}
.nav a{
	float: right; display: block; list-style:none;
	width: 70px; 
	font-size:16px; color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.nav li, .nav li:link, .nav li:visited, .nav li:active  {background: #593B3B;}
.nav li:hover           								{background: #261F20; border-left: 1px solid #FCDAFC; border-right: 1px solid #FCDAFC; }
.nav a, .nav a:link, .nav li:visited, .nav li:active	{color: #FFF;}
.nav a:hover 											{color: #FFF;}
#logstat{
	float:right;
	margin-top: 77px;
	top: 102px; left: 946px;
	font-family:"微軟正黑體", "新細明體", "標楷體";
	font-weight: bold;
}
#logstat a{
	float: left; display: block; list-style: none;
	width: 70px; height: 24px;
	margin: auto;
	font-size:16px; color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#logstat li{
	margin-color: #FFF;
	float: left; display: block; list-style: none;
	width: 70px; height: 24px; text-align:center;
	padding: 6px;
	font-size:16px; color: #fff;
	border-left: 1px solid #593B3B; 
	border-right: 1px solid #593B3B;
}
#logstat h1{
	background-color:: #783143;
	float:left; padding:6px 6px 0 0;
	font-family:"微軟正黑體", "新細明體", "標楷體";
	font-size:16px;
	font-weight:bold;
}
#logstat li, #logstat li:link, #logstat li:visited, #logstat li:active  {background: #593B3B;}
#logstat li:hover    {background: #261F20; border-left: 1px solid #FCDAFC; border-right: 1px solid #FCDAFC;}
#logstat a, #logstat a:link, #logstat li:visited, #logstat li:active	{color: #FFF;}
#logstat a:hover 														{color: #FFF;}

img.note{position:absolute; top:35px;}

.apDiv4{
	width: 1010px;
	margin: 50px auto 0 auto;
}
.apDiv4 h1{
	font-size: 30px;
	font-family: "微軟正黑體", "新細明體", "標楷體";
	font-weight: bold;
    color: #FFF;
	text-align: left; padding-left: 10px;
	margin:0 0 0 100px;
	position:static;
}
.scrolltable{
	margin: 5px auto 0 auto;
	max-height:200px; overflow:scroll;
	max-width:950px;
	padding-bottom:5px;
}
.scrolltable table{
	background-color: #783143;
	margin: 20px auto 0 auto;
	width: 900px;
}
.scrolltable td{
	background-color: #293633;
	border-top: 0px solid #783143;
	border-bottom: 0px solid #783143;
	padding: 5px 20px 5px 20px;
	color: #FFFFFF;
	font-size: 16px;
	font-family:"微軟正黑體", "新細明體", "標楷體";
	max-width:150px;
	word-break:break-all;
	text-align:center;
}
.indextable{
	margin: 5px auto 0 auto;
	max-width:900px;
	padding-bottom:5px;
}
.indextable table{
	background-color: #783143;
	margin: 20px auto 0 auto;
	max-width: 800px;
}
.indextable td{
	background-color: #293633;
	border-top: 0px solid #783143;
	border-bottom: 0px solid #783143;
	padding: 5px 20px 5px 20px;
	color: #FFFFFF;
	font-size: 16px;
	font-family:"微軟正黑體", "新細明體", "標楷體";
	word-break:break-all; 
}
.indextable h2{color:#F00;}
.indextable a, .indextable a:link, .indextable a:visited, .indextable a:active	{color: #FFFFFF;}
.indextable a:hover 													{color: #FFFFFF;}

#nav2{
	width: 1010px;
	height: 40px;
	margin: 43px auto 0 auto;
	font-family:"微軟正黑體", "新細明體", "標楷體";
	background-color: #593B3B;
}
#nav2 ul{border-collapse:collapse;}
#nav2 li{
	margin-color: #FFF;
	float: right; display: block; list-style: none;
	width: 70px; height: 20px; text-align:center;
	padding: 9px;
	font-size:16px; color: #fff;
	border: 1px solid #593B3B; 
}
#nav2 a{
	float:left; display:block; list-style:none;
	width:70px; 
	font-size:16px; color:#fff;
	text-decoration: none;
	font-weight: bold;
}
#nav2 li, #apDiv2 li:link, #nav2 li:visited, #nav2 li:active  {background: #593B3B;}
#nav2 li:hover           {background: #261F20; border-left: 1px solid #FCDAFC; border-right: 1px solid #FCDAFC; }
#nav2 a, #apDiv2 a:link, #nav2 li:visited, #nav2 li:active	{color: #FFF;}
#nav2 a:hover 													{color: #FFF;}

#pack2{
	margin:auto; padding-top: 50px;
	width: 1010px; height: 70px;
}
#music{
	background-color:#261F20;
	color:#FFF;  float:left;
	font-family:"微軟正黑體", "新細明體", "標楷體";
	width:600px; height:170px;
	font-size:20px; font-weight:bold;
	text-align:center;
	padding-top: 140px;
}

.login{
	float:right;
	background-color: #261F20;
	width: 400px; height:310px;
}
.login table{
	margin:80px 0 0 85px; color: #FFFFFF;
	font-size:16px; font-weight:bold;
	font-family: "微軟正黑體", "新細明體", "標楷體";
	}
.login h1{text-align:center; color:#F00;}
.login a{text-decoration:none;}
.login a, .login a:link, .login li:visited, .login li:active	{color: #F00;}
.login a:hover 													{color: #293633;}

.head{
	background-color:#F2B872; 
	color:#293633; margin:0 10px 0 10px; 
	text-align:center; padding:5px;
	border-radius: 10px 10px 0 0;
	font-size:16px; padding: 5px 20px 5px 20px;
	font-family:"微軟正黑體", "新細明體", "標楷體";
}
.foot{
	background-color:#F2B872; 
	color:#293633; margin:0 10px 0 10px; 
	text-align:center; padding:5px;
	border-radius: 0 0 10px 10px;
	font-size:16px;
	font-family:"微軟正黑體", "新細明體", "標楷體";
}

.regulartable {
	margin:20px auto 20px auto;
	background-color: #261F20; width:1010px;
}
.regulartable table{
	margin:auto; padding-top:50px; padding-bottom:50px;
	color: #293633; font-size:16px; font-weight:bold;
	font-family: "微軟正黑體", "新細明體", "標楷體";
}
.regulartable td{
	margin:0; padding: 5px; 
	border-collapse:collapse;
	text-align:center;
}
.regulartable h1{color: #F00; text-align:center;}

.left{background-color: #F2B872; color: #293633; text-align:center;}
.right{background-color: #F2B872; color: #293633; text-align:center;}

#footer{
	background-color: #593B3B;
	font-famaily:"微軟正黑體", "新細明體", "標楷體";
	font-size:12px; color: #FFFFFF;
	width: 1010px; height: 20px;
	margin: 40px auto 0 auto;
	padding: 5px 0 0 0;
	text-align:center;
}